# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.env/
env/
ENV/
.virtualenv/

# Distribution / packaging
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
coverage.xml
*,cover
.hypothesis/

# PyCharm
.idea/

# VSCode
.vscode/
*.code-workspace

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Environments
.env
*.env
*.env.*

# mypy
.mypy_cache/

# Pyre type checker
.pyre/

# cache directories
.cache/
*.pytest_cache/
